.experience {
  .jobs {
    //margin-bottom: 100px;
  }
  .job {
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      @include mobile {
        display: block;
      }
    }
    &__company {
      font-weight: 700;
    }
    &__time {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;
      @include mobile {
        font-size: 0.8rem;
      }
    }
    &__details {
      font-family: 'Inconsolata', monospace;
      // @include mobile {
        // font-size: 0.8rem;
      // }
      &__item {
        // margin: 30px 0;
        line-height: 17px; // between the lines
        margin-top: 10px; // between the items
        padding-right: 10px;
        font-size: 0.9rem;
      }
    }
  }
  .arrow-link {
    font-size: 1.25rem;
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}
