<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Machine Learning Engineer at
      <a class="underline-link" href="https://www.competera.net/" target="_blank">Competera</a>,
      revolutionizing price optimization with AI. I work on challenges, including sales forecasting, product matching, and product representation learning.
      Also, I carry out the hiring process and collaborate with stakeholders to define the product roadmap.
    </p>

    <p> 
      I am completing my Master's degree at
      <a class="underline-link" href="https://www.utoronto.ca/" target="_blank">University of Toronto</a> under the supervision of
      <a class="underline-link" href="https://vectorinstitute.ai/team/bo-wang/" target="_blank">Bo Wang</a>.
      My research mainly focuses on molecular machine learning with Graph and Language Models.
      Previously, I worked on predicting lower limb kinematics using visual and kinematic perception of the environment under the supervision of Brokoslaw Laschowski.
      During my time at University of Toronto I published 3 conference papers.
    </p>
    <p> 
      In my spare time, I enjoy participating in ML hackathons.
      I led a team of 3 machine learning engineers, where we participated in 10+ competitions, won 3 first places, and more than 5+ prize places. 
    </p>

    {% include employment-status.html %}
  </div>
</section>
