<section class="section experience">
  <div class="section__title">Work Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
        <div style="padding-top: 5px"></div>
        {% for item in job.details %}
        <div class="job__details__item">
          <b>- </b>{{item.task}}
        </div>
        {% endfor %}
        <div style="padding-bottom: 15px"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>