<section class="section background">
  <div class="section__title">Research Record</div>
  <div class="section__content">
    1. <b>Tsepa O</b>, Young A, Wang Bo. Conditional Molecule Generation based on the Mass Spectrum.<br>
    2. <b>Tsepa O</b>, Kucheruk D, Anderson A. Unsupervised Bot Detection on Twitter with Graph Autoencoders.<br>
    3. <b>Tsepa O</b>*, Naida B*, Goldenberg A, Wang Bo. CongFu: Conditional Graph Fusion for Drug Synergy Prediction. <i>Accepted to NeurIPS AI4D3 2023.</i> [<a href="https://arxiv.org/abs/2305.14517"><u>paper</u></a>, <a href="https://github.com/bowang-lab/CongFu"><u>code</u></a>]<br>
    4. <b>Tsepa O</b>, Yang Xu. Semantic Change Detection with Graph Neural Networks. [<a href="https://drive.google.com/file/d/1n0CoxlPJnc7FGsJj21YvE9cvGbnl14md/view?usp=share_link"><u>paper</u></a>, <a href="https://github.com/imgremlin/sem-gnn"><u>code</u></a>]<br>
    5. <b>Tsepa O</b>*, Burakov R*, Laschowski B, Mihailidis A. Continuous prediction of leg kinematics during walking using inertial sensors, smart glasses, and embedded computing.
    <i>Accepted to ICRA 2023.</i> [<a href="https://www.biorxiv.org/content/10.1101/2023.02.10.528052v1"><u>paper</u></a>, <a href="https://github.com/Anvilondre/kifnet"><u>code</u></a>]<br>
    6. Kuzmenko D, <b>Tsepa O</b>, Kurbis A G, Laschowski B, Mihailidis A. Vision-Based Automated Stair Recognition for Wearable Robotics using Semi-Supervised Learning.
    <i>Accepted to IROS 2023.</i> [<a href="https://www.biorxiv.org/content/10.1101/2023.06.28.546903v1"><u>paper</u></a>]<br>
    7. <b>Tsepa O</b>. Product Embeddings in Retail Industry with Graph Neural Networks. <i>Bachelor’s thesis.</i> [<a href="https://drive.google.com/file/d/1zJFpywZbxxEUvIiVWQRPsmes1djTngxF/view?usp=sharing"><u>poster</u></a>]
  </div>
</section>
